.brand{
    margin: 1em;
    border-bottom: 2px solid transparent;  
    height: 100px;  
    transition: 0.2s transform ease-in-out;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 0.5rem;
}
    .brand:hover{
        transform: scale(1.05);
        box-shadow: inset 0 0 2rem #EB1717;
    }
    .brand img{
        height: 100%;
    }
    .brand.checked{
        transform: scale(1.05);
        box-shadow: inset 0 0 2rem #EB1717;        
    }