.category-item{
    padding: 0.3em 0;
    padding-left: 1.5rem;
    cursor: pointer;
}
    .category-item:hover{
        color: #EB1717;
    }
    .category-item.checked{
        color: #EB1717;
        background-color: rgba(33, 40, 54, 0.53)
    }
    .category-item i{
        width: 1.5rem;
        text-align: center;
    }