.item{
    margin: 0.5em 0;
    border-bottom: 2px solid transparent;
    text-align: center;
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    border-radius: 1rem;                     
}
.item:hover{
    background-color: #cdddf5;
    border-radius: 1rem;
    color: #212836;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.item.checked{
    background-color: rgba(235, 23, 23, 0.521);
    border:#EB1717 1px solid;
    transform: scale(1.05);                
}
.item.checked:hover{
    color: white;  
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.3);                
}