@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');

*{
    box-sizing: content-box;
}
.navigation{
    color:white; 
    /* display: flex; */
    flex-direction: column;
    align-items: stretch; 
    width: 100%;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: stretch; 
   background: #212836;
   padding: 0 0.8em;
   height: 8vh;
}
.nav-logo{
    font-family: Pacifico;
    font-size: 1.8em;
    padding: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
}
    .nav-logo > a{
        text-decoration: none;
        color: white;
    }
    .nav-logo > a:hover{
        color: #EB1717;
    }
.nav-login > a{
        text-decoration: none;
        color: white;
    }
.nav-menu{
    display: flex;
    align-items: stretch;
}
    .nav-menu > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: stretch;
    }
        .nav-menu > ul > li{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.3em;
            border-top: 2px solid transparent;
            cursor: pointer;
        }
        .nav-menu > ul > li:hover{
            color: #EB1717;
        }
        .nav-menu > ul > li.checked{
            color: #EB1717;
            border-top: 2px solid #EB1717;
        }
.nav-login{
    display: flex;
    align-items: center;
    padding: 0.5em;
}   
.nav-login-avatar{
    width: 2em;
    height: 2em;
    background: black;
}
.nav-login-user{
    margin-left: 0.8em;
    font-family: 'Indie Flower';
    font-size: 1.2em;
}