.product-description{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: transparent;
    color: #3f3f3f
}
    .product-description .upper{
        display: flex;
    }
    .product-description .upper > .desc-item{
        flex: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.2s ease-in-out;
    }
    .product-description .upper > .desc-item:hover{
        color: #EB1717;
        background-color: #4271e76b;
        transform: scale(1.05);
    }
    .product-description .upper > .desc-item.checked{
        color: #EB1717;
        background-color: #4271e7b9;
        transform: scale(1.05);
    }
    .product-description .content{
        flex: 1;
        overflow: auto;
        padding: 1rem;
        box-shadow: inset 0 0 1rem #00000023
    }