.product-page{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.849);
}
    .product-page .close{
        display: flex;
        justify-content: flex-end;
        background-color: #404e69c5;
    }
    .product-page .close .close-btn{
        padding: 0.5rem;
        color: rgb(75, 74, 74);
        cursor: pointer;
        font-size: 1.5rem;
    }
    .product-page .close .close-btn:hover{
        color: #EB1717;
        transform: scale(1.1);
    }
    .product-page .product-content{
        flex: 1;
        display: flex;
        flex-direction: row;
        background-color: #d5d8e6;
    }
    @media screen and (max-width:760px){
        .product-page .product-content{
            flex-direction: column;
        }
    }
    .product-page .turn-back{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #313131;
        padding: 0.5rem;
        background-color: #0000000a;
        font-size: 2rem;
        box-sizing: border-box;
        cursor: pointer;
    }
    .product-page .turn-back:hover{
        color: #EB1717;
    }