.slider{
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
}
    .slider .controllers{
        display: flex;
        justify-content: space-between;
        position: absolute;
    }
    .slider .controllers .controller{
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        z-index: 9999;
        background-color: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .slider .controllers .controller:hover{
        color: #EB1717;
    }
    .slider .scroller{
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        width: 100%;
        transition: transform 0.2s ease-in-out;
    }
    .slider .scroller .item-scroll{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .slider .scroller img{
        width: 100%
    }